@page
@model ODEPA_.Pages.RegistroModel
@using ODEPA_.Controllers
@using ODEPA_.Model
@{
    Input input = new();

}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="container">
    <h2>Registro</h2>
    <form method="post">
        <div class="form-group">
            <label for="correo">Correo:</label>
            <input name="correo" class="form-control" id="correo" type="email" required />
        </div>
        <div class="form-group">
            <label for="nombre">Nombre Completo:</label>
            <input name="nombre" class="form-control" id="nombre" type="text" required />
        </div>
        <div class="form-group">
            <label for="adress">Dirección:</label>
            <input name="adress" class="form-control" id="adress" type="text" required />
        </div>
        <div class="form-group">
            <label for="rut">Rut:</label>
            <input name="rut" class="form-control" id="rut" type="text" pattern="\d{3,8}-[\d|K]{1}" title=" 9999999-9 " required />
        </div>
        <div class="form-group">
            <label for="pw">Contraseña:</label>
            <input name="pw" id="pw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Contraseña debe tener al menos 8 carácteres, una mayúscula, una minúscula y un número'" class="form-control" type="password" placeholder="Ingrese Contraseña" required />
        </div>
        <button type="submit" class="btn btn-default">Registrarse</button>
    </form>
    <p>¿Ya tienes una cuenta?<a class="link" asp-page="/Login">Iniciar Sesion</a></p>
</div>